body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

header {
  background-color: #3761b0;
  width: 100%;
  box-shadow: 0 0 14px #000;
}
header .header-image-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 16px 0;
}
header .header-image-container .cristian-photo-wrapper {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  padding: 4px;
  background-clip: padding-box;
  box-shadow: 0 0 2px #fff, 0 0 10px #afcae3;
  border-radius: 50%;
  border: 1.5px solid #fff;
}
header .header-image-container .cristian-photo-wrapper .header-cristian-photo {
  width: 60px;
  height: 60px;
  transform: scaleX(-1);
  border-radius: 50%;
}
header .header-image-container .header-doctor-name {
  width: 180px;
  align-self: center;
}
header .header-divider {
  display: block;
  content: " ";
  width: 60%;
  max-width: 335px;
  height: 1px;
  margin: 10px auto;
  background-color: #fff;
  position: relative;
}
header .header-divider::before {
  display: block;
  content: " ";
  width: 5px;
  height: 5px;
  background-color: #fff;
  align-self: center;
  transform: rotate(45deg);
  position: absolute;
  top: -2px;
}
header .header-divider::after {
  display: block;
  content: " ";
  width: 5px;
  height: 5px;
  background-color: #fff;
  align-self: center;
  transform: rotate(45deg);
  position: absolute;
  right: 0;
  top: -2px;
}
header .header-welcome {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  padding: 5px 16px 25px;
  font-family: "Open Sans", sans-serif;
  font-size: clamp(18px, 5vw, 20px);
}

main {
  padding: 0 16px;
}
main .main-header {
  max-width: 450px;
  margin: 0 auto;
}
main .main-header .main-title {
  color: #3761b0;
  letter-spacing: 2px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(20px, 5vw, 24px);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
main .main-header .main-description {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: clamp(18px, 5vw, 20px);
  font-weight: 500;
}
main .cards-container {
  max-width: 450px;
  margin: 50px auto 0;
  display: grid;
  gap: 50px;
}
main .cards-container .card-item1 {
  max-width: 280px;
  display: flex;
  position: relative;
  background-image: linear-gradient(to bottom, #296eef, #3761b0);
  box-shadow: 4px 4px 10px #000;
  padding: 20px;
  border-radius: 8px;
}
main .cards-container .card-item1 .card-content1 {
  max-width: 200px;
  z-index: 1;
}
main .cards-container .card-item1 .card-content1 .card1-title {
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(20px, 5vw, 24px);
  font-weight: bold;
  margin-bottom: 5px;
}
main .cards-container .card-item1 .card-content1 .card1-description {
  color: #fff;
  font-size: clamp(18px, 5vw, 20px);
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  margin-bottom: 10px;
}
main .cards-container .card-item1 .card-content1 .card1-button {
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  color: #000;
  background-color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: clamp(18px, 5vw, 20px);
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
main .cards-container .card-item1 .card-content1 .card1-button:hover {
  background-color: #f1f1f1;
}
main .cards-container .card-item1 .card-content1 .card1-button:active {
  transform: scale(0.9);
}
main .cards-container .card-item1 .card-img1 {
  position: absolute;
  width: 160px;
  top: -45px;
  right: -8px;
}
main .cards-container .card-item2 {
  position: relative;
  display: flex;
  justify-content: end;
  background-image: linear-gradient(to bottom, #a80606, #6b0000);
  box-shadow: 4px 4px 10px #000;
  padding: 20px;
  border-radius: 8px;
}
main .cards-container .card-item2 .card-content2 {
  max-width: 210px;
  display: flex;
  flex-direction: column;
  align-items: end;
}
main .cards-container .card-item2 .card2-title {
  text-align: end;
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(20px, 5vw, 24px);
  font-weight: bold;
  margin-bottom: 5px;
}
main .cards-container .card-item2 .card2-description {
  text-align: end;
  color: #fff;
  font-size: clamp(18px, 5vw, 20px);
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  margin-bottom: 10px;
}
main .cards-container .card-item2 .card2-button {
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  color: #000;
  background-color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: clamp(18px, 5vw, 20px);
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
main .cards-container .card-item2 .card2-button:hover {
  background-color: #f1f1f1;
}
main .cards-container .card-item2 .card2-button:active {
  transform: scale(0.9);
}
main .cards-container .card-item3 {
  position: relative;
  display: flex;
  background-image: linear-gradient(to bottom left, #00f7ef, #000000, #050002, #ff004f);
  box-shadow: 4px 4px 10px #000;
  padding: 20px;
  border-radius: 8px;
}
main .cards-container .card-item3 .card-content3 {
  max-width: 200px;
}
main .cards-container .card-item3 .card3-title {
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(20px, 5vw, 24px);
  font-weight: bold;
  margin-bottom: 5px;
}
main .cards-container .card-item3 .card3-description {
  color: #fff;
  font-size: clamp(18px, 5vw, 20px);
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  margin-bottom: 10px;
}
main .cards-container .card-item3 .card3-button {
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  color: #000;
  background-color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: clamp(18px, 5vw, 20px);
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
main .cards-container .card-item3 .card3-button:hover {
  background-color: #f1f1f1;
}
main .cards-container .card-item3 .card3-button:active {
  transform: scale(0.9);
}
main .cards-container .card-item4 {
  position: relative;
  display: flex;
  justify-content: end;
  background-image: linear-gradient(to bottom, #711cbe, #c42b66, #e19449);
  box-shadow: 4px 4px 10px #000;
  padding: 20px;
  border-radius: 8px;
}
main .cards-container .card-item4 .card-content4 {
  display: flex;
  flex-direction: column;
  align-items: end;
  max-width: 180px;
}
main .cards-container .card-item4 .card4-title {
  text-align: end;
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(20px, 5vw, 24px);
  font-weight: bold;
  margin-bottom: 5px;
}
main .cards-container .card-item4 .card4-description {
  text-align: end;
  color: #fff;
  font-size: clamp(18px, 5vw, 20px);
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  margin-bottom: 10px;
}
main .cards-container .card-item4 .card4-button {
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  color: #000;
  background-color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: clamp(18px, 5vw, 20px);
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
main .cards-container .card-item4 .card4-button:hover {
  background-color: #f1f1f1;
}
main .cards-container .card-item4 .card4-button:active {
  transform: scale(0.9);
}
main .cards-container .card-item5 {
  position: relative;
  display: flex;
  background-image: linear-gradient(to bottom, #00affe, #006bf0);
  box-shadow: 4px 4px 10px #000;
  padding: 20px;
  border-radius: 8px;
}
main .cards-container .card-item5 .card-content5 {
  max-width: 200px;
}
main .cards-container .card-item5 .card5-title {
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(20px, 5vw, 24px);
  font-weight: bold;
  margin-bottom: 5px;
}
main .cards-container .card-item5 .card5-description {
  color: #fff;
  font-size: clamp(18px, 5vw, 20px);
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  margin-bottom: 10px;
}
main .cards-container .card-item5 .card5-button {
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  color: #000;
  background-color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: clamp(18px, 5vw, 20px);
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
main .cards-container .card-item5 .card5-button:hover {
  background-color: #f1f1f1;
}
main .cards-container .card-item5 .card5-button:active {
  transform: scale(0.9);
}

footer {
  background-color: #3761b0;
  margin-top: 60px;
  padding-bottom: 20px;
}
footer .footer-images-container {
  display: flex;
  justify-content: center;
}
footer .footer-images-container .footer-img1 {
  width: 120px;
}
footer .footer-images-container .footer-img2 {
  width: 120px;
}
footer p {
  font-size: clamp(18px, 5vw, 20px);
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  text-align: center;
  margin-top: -20px;
}

@media screen and (min-width: 360px) {
  main .cards-container .card-item1 {
    max-width: 100%;
  }
  main .cards-container .card-item1 .card-img1 {
    width: 170px;
    top: -58px;
  }
}
@media screen and (min-width: 374px) {
  main .cards-container .card-item1 {
    max-width: 100%;
  }
  main .cards-container .card-item1 .card-img1 {
    width: 170px;
    top: -57px;
  }
}
@media screen and (min-width: 400px) {
  main .cards-container .card-item1 {
    max-width: 100%;
  }
  main .cards-container .card-item1 .card-img1 {
    width: 170px;
    top: -50px;
  }
}
@media screen and (min-width: 434px) {
  main .cards-container .card-item1 {
    max-width: 100%;
  }
  main .cards-container .card-item1 .card-img1 {
    width: 170px;
    top: -50px;
  }
}
@media screen and (min-width: 454px) {
  main .cards-container .card-item1 {
    max-width: 100%;
  }
  main .cards-container .card-item1 .card-img1 {
    width: 180px;
    top: -58px;
  }
}/*# sourceMappingURL=main.css.map */