//!==============================

//! Variables

// Paleta de Colores
$dark-blue: #3761b0;
$light-blue: #6ea7d6;
$cream-blue: #afcae3;
$cream-white: #e9f4fc;
$dark-grey: #3e3e3e;

// Fuentes
$font-open-sans: "Open Sans", sans-serif;
$font-montserrat: "Montserrat", sans-serif;
$font-timberline: timberline, sans-serif;

// Tamaño de fuentes
$font-size-small: clamp(18px, 5vw, 20px);
$font-size-medium: clamp(20px, 5vw, 24px);
$font-size-large: clamp(24px, 5vw, 26px);

//!==============================

//! Interpolaciones -SASS

// Header Divider
@mixin beforeAfterDivider() {
    display: block;
    content: " ";
    width: 5px;
    height: 5px;
    background-color: #fff;
    align-self: center;
    transform: rotate(45deg);
    position: absolute;
}

// Card Repeated Styles
@mixin cardContent {
    padding: 20px;
    border-radius: 8px;
}
@mixin cardShadow {
    box-shadow: 4px 4px 10px #000;
}
@mixin cardTitle {
    color: #fff;
    text-transform: uppercase;
    font-family: $font-montserrat;
    font-size: $font-size-medium;
    font-weight: bold;
    margin-bottom: 5px;
}
@mixin cardDescription {
    color: #fff;
    font-size: $font-size-small;
    font-family: $font-open-sans;
    font-weight: 100;
    margin-bottom: 10px;
}
@mixin cardButton {
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    color: #000;
    background-color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: $font-size-small;
    font-family: $font-montserrat;
    cursor: pointer;
}
@mixin cardButtonHover {
    background-color: #f1f1f1;
}
@mixin cardButtonActive {
    transform: scale(0.9);
}

//!==============================

//? Reseteo de los estilos por defecto de los navegadores
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
p {
    margin: 0;
}
a {
    color: #000;
    text-decoration: none;
}

//? ===================
//? Header Styles
//? ===================
header {
    background-color: $dark-blue;
    width: 100%;
    box-shadow: 0 0 14px #000;
    .header-image-container {
        display: flex;
        justify-content: center;
        gap: 10px;
        padding: 16px 0;
        .cristian-photo-wrapper {
            width: fit-content;
            height: fit-content;
            display: flex;
            padding: 4px;
            background-clip: padding-box;
            box-shadow: 0 0 2px #fff, 0 0 10px $cream-blue;
            border-radius: 50%;
            border: 1.5px solid #fff;
            .header-cristian-photo {
                width: 60px;
                height: 60px;
                transform: scaleX(-1);
                border-radius: 50%;
            }
        }
        .header-doctor-name {
            width: 180px;
            align-self: center;
        }
    }
    .header-divider {
        display: block;
        content: " ";
        width: 60%;
        max-width: 335px;
        height: 1px;
        margin: 10px auto;
        background-color: #fff;
        position: relative;
    }
    .header-divider::before {
        @include beforeAfterDivider();
        top: -2px;
    }
    .header-divider::after {
        @include beforeAfterDivider();
        right: 0;
        top: -2px;
    }
    .header-welcome {
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
        color: #fff;
        padding: 5px 16px 25px;
        font: {
            family: $font-open-sans;
            size: $font-size-small;
        }
    }
}

//? ===================
//? Main Styles
//? ===================
main {
    padding: 0 16px;
    .main-header {
        max-width: 450px;
        margin: 0 auto;
        .main-title {
            color: $dark-blue;
            letter-spacing: 2px;
            margin-top: 30px;
            margin-bottom: 10px;
            font: {
                family: $font-montserrat;
                size: $font-size-medium;
                weight: bold;
            }
            text: {
                transform: uppercase;
                align: center;
            }
        }
        .main-description {
            text-align: center;
            font: {
                family: $font-open-sans;
                size: $font-size-small;
                weight: 500;
            }
        }
    }

    // CARD STYLES:
    .cards-container {
        max-width: 424px;
        margin: 50px auto 0;
        display: grid;
        gap: 60px;
        .card-item1 {
            max-width: 280px;
            display: flex;
            position: relative;
            background-image: linear-gradient(to bottom, #296eef, #3761b0);
            @include cardShadow();
            @include cardContent();

            .card-content1 {
                max-width: 200px;
                z-index: 1;
                .card1-title {
                    @include cardTitle();
                }
                .card1-description {
                    @include cardDescription();
                }
                .card1-button {
                    @include cardButton();
                }
                .card1-button:hover {
                    @include cardButtonHover();
                }
                .card1-button:active {
                    @include cardButtonActive();
                }
            }
            .card-img1 {
                position: absolute;
                width: 160px;
                top: -45px;
                right: -8px;
            }
        }
        .card-item2 {
            position: relative;
            display: flex;
            justify-content: end;
            background-image: linear-gradient(to bottom, #a80606, #6b0000);
            @include cardShadow();
            @include cardContent();

            .card-content2 {
                max-width: 210px;
                display: flex;
                flex-direction: column;
                align-items: end;
                z-index: 2;
                .card2-title {
                    text-align: end;
                    @include cardTitle();
                }
                .card2-description {
                    text-align: end;
                    @include cardDescription();
                }
                .card2-button {
                    @include cardButton();
                }
                .card2-button:hover {
                    @include cardButtonHover();
                }
                .card2-button:active {
                    @include cardButtonActive();
                }
            }
            .card-img2 {
                position: absolute;
                width: 170px;
                top: -84px;
                right: 130px;
            }
        }
        .card-item3 {
            position: relative;
            display: flex;
            background-image: linear-gradient(
                to bottom left,
                #00f7ef,
                #000000,
                #050002,
                #ff004f
            );
            @include cardShadow();
            @include cardContent();

            .card-content3 {
                max-width: 200px;
                z-index: 2;
                .card3-title {
                    @include cardTitle();
                }
                .card3-description {
                    @include cardDescription();
                }
                .card3-button {
                    @include cardButton();
                }
                .card3-button:hover {
                    @include cardButtonHover();
                }
                .card3-button:active {
                    @include cardButtonActive();
                }
            }
            .card-img3 {
                position: absolute;
                width: 170px;
                top: -58px;
                right: -16px;

            }
        }
        .card-item4 {
            position: relative;
            display: flex;
            justify-content: end;
            background-image: linear-gradient(
                to bottom,
                #711cbe,
                #c42b66,
                #e19449
            );
            @include cardShadow();
            @include cardContent();

            .card-content4 {
                display: flex;
                flex-direction: column;
                align-items: end;
                max-width: 200px;
                z-index: 2;
                .card4-title {
                    text-align: end;
                    @include cardTitle();
                }
                .card4-description {
                    text-align: end;
                    @include cardDescription();
                }
                .card4-button {
                    @include cardButton();
                }
                .card4-button:hover {
                    @include cardButtonHover();
                }
                .card4-button:active {
                    @include cardButtonActive();
                }
            }
            .card-img4 {
                position: absolute;
                width: 150px;
                top: -29px;
                right: 147px;
            }
        }
        .card-item5 {
            position: relative;
            display: flex;
            background-image: linear-gradient(to bottom, #00affe, #006bf0);
            @include cardShadow();
            @include cardContent();

            .card-content5 {
                max-width: 200px;
                z-index: 2;
                .card5-title {
                    @include cardTitle();
                }
                .card5-description {
                    @include cardDescription();
                }
                .card5-button {
                    @include cardButton();
                }
                .card5-button:hover {
                    @include cardButtonHover();
                }
                .card5-button:active {
                    @include cardButtonActive();
                }
            }
            .card-img5 {
                position: absolute;
                width: 170px;
                top: -58px;
                right: -16px;
            }
        }
    }
}

//? ===================
//? Footer Styles
//? ===================
footer {
    background-color: $dark-blue;
    margin-top: 60px;
    padding-bottom: 20px;
    .footer-images-container {
        display: flex;
        justify-content: center;
        .footer-img1 {
            width: 120px;
        }
        .footer-img2 {
            width: 120px;
        }
    }
    p {
        font-size: $font-size-small;
        font-weight: 400;
        font-family: $font-open-sans;
        color: #fff;
        text-align: center;
        margin-top: -20px;
    }
}

//? =================================
//? MEDIA QUERIES - Responsive design
//? =================================

//? ================
//? Desktop Sizes
//? ================

@media screen and (min-width: 1080px) {
    main {
        .cards-container {
        }
    }
}

//? ================
//? cards-container
//? ================

//! card1

@media screen and (min-width: 360px) {
    main {
        .cards-container {
            .card-item1 {
                max-width: 100%;
                .card-img1 {
                    width: 170px;
                    top: -58px;
                }
            }
        }
    }
}
@media screen and (min-width: 374px) {
    main {
        .cards-container {
            .card-item1 {
                max-width: 100%;
                .card-img1 {
                    width: 170px;
                    top: -57px;
                }
            }
        }
    }
}
@media screen and (min-width: 400px) {
    main {
        .cards-container {
            .card-item1 {
                max-width: 100%;
                .card-img1 {
                    width: 170px;
                    top: -50px;
                }
            }
        }
    }
}
@media screen and (min-width: 434px) {
    main {
        .cards-container {
            .card-item1 {
                max-width: 100%;
                .card-img1 {
                    width: 170px;
                    top: -50px;
                }
            }
        }
    }
}
@media screen and (min-width: 454px) {
    main {
        .cards-container {
            .card-item1 {
                max-width: 100%;
                .card-img1 {
                    width: 180px;
                    top: -58px;
                }
            }
        }
    }
}

//! card2

@media screen and (min-width: 350px) {
    main {
        .cards-container {
            .card-item2 {
                max-width: 100%;
                .card-img2 {
                    width: 180px;
                    top: -98px;
                    right: 150px;
                }
            }
        }
    }
}
@media screen and (min-width: 370px) {
    main {
        .cards-container {
            .card-item2 {
                .card-img2 {
                    right: 170px;
                }
            }
        }
    }
}
@media screen and (min-width: 400px) {
    main {
        .cards-container {
            .card-item2 {
                .card-img2 {
                    width: 190px;
                    top: -107px;
                    right: 185px;
                }
            }
        }
    }
}
@media screen and (min-width: 450px) {
    main {
        .cards-container {
            .card-item2 {
                .card-img2 {
                    width: 192px;
                    right: 220px;
                    top: -106px;
                }
            }
        }
    }
}

//! card3

@media screen and (min-width: 430px) {
    main {
        .cards-container {
            .card-item3 {
                .card-img3 {
                    width: 190px;
                    top: -79px;
                }
            }
        }
    }
}

//! card4

@media screen and (min-width: 350px) {
    main {
        .cards-container {
            .card-item4 {
                .card-img4 {
                    right: 170px;
                }
            }
        }
    }
}
@media screen and (min-width: 360px) {
    main {
        .cards-container {
            .card-item4 {
                .card-img4 {
                    width: 160px;
                    top: -43px;
                    right: 175px;
                }
            }
        }
    }
}
@media screen and (min-width: 375px) {
    main {
        .cards-container {
            .card-item4 {
                .card-img4 {
                    top: -39px;
                }
            }
        }
    }
}
@media screen and (min-width: 378px) {
    main {
        .cards-container {
            .card-item4 {
                .card-img4 {
                    width: 158px;
                    right: 191px;
                    top: -36px;
                }
            }
        }
    }
}
@media screen and (min-width: 398px) {
    main {
        .cards-container {
            .card-item4 {
                .card-img4 {
                    width: 180px;
                    right: 196px;
                    top: -38px;
                }
            }
        }
    }
}
@media screen and (min-width: 436px) {
    main {
        .cards-container {
            .card-item4 {
                .card-img4 {
                    right: 223px;
                    top: -36px;                    
                }
            }
        }
    }
}
@media screen and (min-width: 465px) {
    main {
        .cards-container {
            .card-item4 {
                .card-img4 {
                    right: 235px;
                    top: -48px;     
                    width: 190px;          
                }
            }
        }
    }
}

//! card4

@media screen and (min-width: 375px) {
    main {
        .cards-container {
            .card-item5 {
                .card-img5 {
                    top: -55px;
                    right: -16px;
                }
            }
        }
    }
}
@media screen and (min-width: 385px) {
    main {
        .cards-container {
            .card-item5 {
                .card-img5 {
                    top: -51px;
                }
            }
        }
    }
}
@media screen and (min-width: 403px) {
    main {
        .cards-container {
            .card-item5 {
                .card-img5 {
                    top: -50px;
                }
            }
        }
    }
}
@media screen and (min-width: 465px) {
    main {
        .cards-container {
            .card-item5 {
                .card-img5 {
                    width: 180px;
                    right: -14px;
                    top: -61px;
                }
            }
        }
    }
}

