//!==============================

//! Variables

// Paleta de Colores
$dark-blue: #3761B0;
$light-blue: #6EA7D6;
$cream-blue: #AFCAE3;
$cream-white: #E9F4FC;
$dark-grey: #3E3E3E;

// Fuentes
$font-open-sans: 'Open Sans', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$font-timberline: timberline, sans-serif;

// Tamaño de fuentes
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 20px;

//!==============================


//? Reseteo de los estilos por defecto de los navegadores
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    background-color: $dark-blue;
    width: 100%;
    box-shadow: 0 0 14px #000;
    .header-image-container {
        display: flex;
        justify-content: center;
        gap: 10px;
        padding: 16px 0;
        span {
            width: fit-content;
            height: fit-content;
            display: flex;
            padding: 4px;
            border-radius: 50%;
            background-clip: padding-box;
            border: 1.5px solid #fff;
            box-shadow: 0 0 2px #fff, 0 0 10px $cream-blue;
            .header-cristian-photo {
                width: 80px;
                height: 80px;
                transform: scaleX(-1);
                border-radius: 50%;
            }
        }
        .header-doctor-name {
            width: 180px;
            align-self: center;
        }
    }
    .header-divider {
        display: block;
        content: " ";
        width: 60%;
        height: 1px;
        margin: 10px auto;
        background-color: #fff;
        position: relative;
    }
    .header-divider::before {
        display: block;
        content: " ";
        width: 5px;
        height: 5px;
        background-color: #fff;
        align-self: center;
        transform: rotate(45deg);
        position: absolute;
        top: -2px;
    }
    .header-divider::after {
        display: block;
        content: " ";
        width: 5px;
        height: 5px;
        background-color: #fff;
        align-self: center;
        transform: rotate(45deg);
        position: absolute;
        right: 0;
        top: -2px;
    }
    p {
        text-align: center;
        color: #fff;
        font-family: $font-open-sans;
        font-size: $font-size-small;
        padding: 5px 16px 20px;
    }
}
