//!==============================

//! Variables

// Paleta de Colores
$dark-blue: #3761B0;
$light-blue: #6EA7D6;
$cream-blue: #AFCAE3;
$cream-white: #E9F4FC;
$dark-grey: #3E3E3E;

// Fuentes
$font-open-sans: 'Open Sans', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$font-timberline: timberline, sans-serif;

// Tamaño de fuentes
$font-size-small: 18px;
$font-size-medium: 22px;
$font-size-large: 26px;

//!==============================

//! Interpolaciones -SASS

// Header Divider
@mixin beforeAfterDivider() {
    display: block;
    content: " ";
    width: 5px;
    height: 5px;
    background-color: #fff;
    align-self: center;
    transform: rotate(45deg);
    position: absolute;
}

// Card Repeated Styles
@mixin cardContent {
    padding: 20px;
    max-width: 450px;
    border-radius: 8px;
}
@mixin cardTitle {
    color: #fff;
    text-transform: uppercase;
    font-family: $font-montserrat;
    font-size: $font-size-medium;
    font-weight: bold;
    margin-bottom: 5px;
}
@mixin cardDescription {
    color: #fff;
    font-size: $font-size-small;
    font-family: $font-open-sans;
    font-weight: 100;
    margin-bottom: 10px;
}
@mixin cardButton {
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    color: #000;
    background-color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: $font-size-small;
    font-family: $font-montserrat;
    cursor: pointer;
}

//!==============================

//? Reseteo de los estilos por defecto de los navegadores
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p {
    margin: 0;
}

//? Header Styles
header {
    background-color: $dark-blue;
    width: 100%;
    box-shadow: 0 0 14px #000;
    .header-image-container {
        display: flex;
        justify-content: center;
        gap: 10px;
        padding: 16px 0;
        .cristian-photo-wrapper {
            width: fit-content;
            height: fit-content;
            display: flex;
            padding: 4px;
            background-clip: padding-box;
            box-shadow: 0 0 2px #fff, 0 0 10px $cream-blue;
            border-radius: 50%;
            border: 1.5px solid #fff;
            .header-cristian-photo {
                width: 60px;
                height: 60px;
                transform: scaleX(-1);
                border-radius: 50%;
            }
        }
        .header-doctor-name {
            width: 180px;
            align-self: center;
        }
    }
    .header-divider {
        display: block;
        content: " ";
        width: 60%;
        height: 1px;
        margin: 10px auto;
        background-color: #fff;
        position: relative;
    }
    .header-divider::before {
        @include beforeAfterDivider();
        top: -2px;
    }
    .header-divider::after {
        @include beforeAfterDivider();
        right: 0;
        top: -2px;
    }
    .header-welcome {
        text-align: center;
        color: #fff;
        padding: 5px 16px 20px;
        font: {
            family: $font-open-sans;
            size: $font-size-small;    
        }
    }
}

//? Main Styles
main {
    padding: 0 16px;
    .main-title {
        color: $dark-blue;
        letter-spacing: 2px;
        margin-top: 30px;
        font: {
            family: $font-montserrat;
            size: $font-size-large;
        }
        text: {
            transform: uppercase;
            align: center;    
        }
    }
    .main-description {
        text-align: center;
        font: {
            family: $font-open-sans;
            size: $font-size-small;
            weight: 500;    
        }
    }

    // CARD STYLES:
    .cards-container {
        margin-top: 30px;
        border: solid 2px red;
        display: grid;
        justify-content: center;
        gap: 15px;
        .card-item1 {
            background-image: linear-gradient(to bottom, #3761B0, #296EEF);
            @include cardContent();
                .card1-title {
                    @include cardTitle();
                }
                .card1-description {
                    @include cardDescription();
                }
                .card1-button {
                    @include cardButton();
                }
        }
        .card-item2 {
            background-image: linear-gradient(to bottom, #A80606, #6B0000);
            @include cardContent();
            .card2-title {
                @include cardTitle();
            }
            .card2-description {
                @include cardDescription();
            }
            .card2-button {
                @include cardButton();
            }
        }
        .card-item3 {
            background-image: linear-gradient(to bottom, #007c30c2, #05972a);
            @include cardContent();
            .card3-title {
                @include cardTitle();
            }
            .card3-description {
                @include cardDescription();
            }
            .card3-button {
                @include cardButton();
            }
        }
        .card-item4 {
            background-image: linear-gradient(to bottom, #026164c2, #15a7ac);
            @include cardContent();
            .card4-title {
                @include cardTitle();
            }
            .card4-description {
                @include cardDescription();
            }
            .card4-button {
                @include cardButton();
            }
        }
    }
}